section.experience {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
}

section.experience h2 {
font-size: 2rem;
margin-bottom: 60px;
color: rgba(41, 145, 180, 0.845);
text-decoration: underline double;
text-decoration-color: white;
}

section.experience article {
    border: 2px dashed white;
    width: 25rem;
    margin: auto;
    margin-top: 10px;
}

section.experience p {
    width: 100%;
    color: rgba(41, 145, 180, 0.845);
    text-shadow: 2px 2px 1px white;
    font-size: 1.5rem;
    padding: 10px 0;
}

section.experience p:hover {
    font-size: 1.3rem;
}